:root{
    --bgcolor:#beb8ac;
    --pink:#d79dbc;
    --black:#3D3F42;
    --white:#f4f7ff;
    --gray:#d8dce4;
    --lightgray:#8e9095;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: var(--bgcolor);
}
.clearfix{
    clear: both;
}
.resume-box{
    width: 800px;
    height: 1000px;
    margin: 100px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #3D3F4238;
}
.left-section{
    background: var(--black);
    width: 250px;
    height: 1000px;
    float: left;
}
.profile{
    overflow: hidden;
    position: relative;
}
.pink-box{
    width: 257px;
    height: 407px;
    background: var(--pink);
    margin-left: -100px;
    transform: rotateZ(48deg);
    margin-top: -178px;
}
.profile-img{
    position: absolute;
    z-index: 9;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid var(--gray);
}
.name{
    color: var(--gray);
    text-align: center;
    margin-top: -34px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.name span{
    color: var(--pink);
}
.n-p{
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
}
.info{
    margin-top: 50px;
}
.heading{
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 2px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18;
}