.img{
    height:400px;
    width:200px;
}
.about-text h3{
    color:rgb(214, 166, 183);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.body{
    font-family: 'Bad Script', cursive;
    font-family: 'Mallanna', sans-serif;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }